* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: whitesmoke;
}
.img1 {
    place-items: center;
}

header {
    font-size: large;
    place-items: center;
    margin-bottom: 3rem;
    
}
h1 {
    margin-top: 5rem;
    color: rgb(229, 24, 24);
}

hr {
    opacity: 0.5;
}
.top {
    place-items: left;
    top: 0;
    padding-left: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

.topleftcorner {
    margin-left: 1rem;
}

.second {
    opacity: 0.6;
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    justify-content: space-evenly;
}

span {
    padding-left: 78.3rem;
}

img {
    border-radius: 10%;
    margin-bottom: 1rem;
    width: 12.6rem;
}

.parent {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.square1 {
    font-size: 10px;
    border: 2px solid #000;
    border-radius: 10%;
    justify-content: space-evenly;
    color: #000;
    background-color: whitesmoke;
    gap: 1rem;
    width: 15rem;
    height: 15rem;
    padding: 1rem;
}
p {
    margin-top: 8px;
}

.img1 {
    width: 5rem;
    height: 8rem;
    align-items: center;
}

.color {
    border: 2px solid black;
    background-color: rgb(84, 187, 222);
}
